// Color Variables
$white:#ffffff;
$orange-1:#ef8613;
$orange-2:#ffc107;
$orange-3:#d26e1b;
$orange-4:#b05700;

$grey-1:#666666;
$grey-2:#999999;
$grey-3:#f4f2f2;
$grey-4:#444444;

$red-1:#e72828;
$red-2:#d41c1c;